#left-ear, #right-ear {
  transition: all .5s linear;
  transform: translateY(-10px);
}

.bear:hover #left-ear, #right-ear {
  transform: translateY(10px);
  transition: all .5s linear;
}

#left-eye, #right-eye {
  animation: eyes .5s .8s infinite alternate linear;
}

@keyframes eyes {

  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }

}
