#left-ear,
#right-ear {
  transition: all 400ms linear;
}

#bear:hover #left-ear,
#bear:hover #right-ear {
  transform: translateY(-10px);
}

#left-eye, #right-eye {
  animation: eyes .5s .8s infinite alternate linear;
}

@keyframes eyes {

  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }

}
